@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800");
body {
  font-family: "Poppins"; }

.parallax {
  background: black; }

#heroHeader {
  height: 500px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)); }
  #heroHeader .container {
    position: relative;
    height: 100%; }
    #heroHeader .container img {
      margin-top: 25px; }
    #heroHeader .container .valign-wrapper {
      position: absolute;
      top: 0;
      width: 100%;
      height: 500px;
      padding-left: 200px;
      padding-right: 200px; }
  #heroHeader #headerMainTitle {
    width: 100%;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 7px;
    line-height: 40px;
    color: white;
    font-weight: 300;
    margin: 0; }

#mainMenu {
  background: transparent;
  box-shadow: 0 0 0 0;
  position: absolute;
  bottom: 10px;
  text-transform: uppercase; }
  #mainMenu ul {
    text-align: center; }
    #mainMenu ul li {
      display: inline;
      float: none; }
      #mainMenu ul li a {
        display: inline-block;
        font-weight: 300;
        font-size: 12px;
        letter-spacing: 2.5px;
        opacity: 0.8;
        padding: 0px 10px 0px 10px;
        margin-left: 5px;
        margin-right: 5px;
        height: 50px;
        border-bottom-style: solid;
        border-bottom-width: 2.5px;
        border-bottom-color: transparent; }
        #mainMenu ul li a:hover {
          background: transparent;
          border-bottom-color: #1bf1ad;
          opacity: 1; }
        #mainMenu ul li a.active {
          opacity: 1;
          font-weight: 500;
          border-bottom-color: #1bf1ad; }

main section {
  padding-top: 80px;
  padding-bottom: 0px; }
  main section .sectionTitle {
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 2.5px; }

#aboutUsSection .text.container {
  max-width: 500px; }
  #aboutUsSection .text.container p {
    color: #666666;
    font-weight: 300;
    font-size: 20px;
    word-spacing: 3px;
    letter-spacing: 1px;
    margin-top: 30px; }

#whatWeDoSection .row .col {
  position: relative; }
  #whatWeDoSection .row .col.l5 img {
    position: relative;
    transform: translateX(-30px);
    width: 100%;
    z-index: 1; }
  #whatWeDoSection .row .col.l5 h3 {
    position: absolute;
    z-index: 2;
    bottom: 0px;
    right: 50px;
    width: 50%;
    font-weight: 600;
    color: #303030; }
  #whatWeDoSection .row .col.l7 #shape-1 {
    position: relative;
    transform: translate(50%, -100px);
    width: 50%; }
  #whatWeDoSection .row .col.l7 #shape-2 {
    position: relative;
    width: 80%;
    transform: translate(5%, -100px);
    z-index: -1; }
  #whatWeDoSection .row .col.l7 #shape-3 {
    position: relative;
    transform: translateX(-300px); }
  #whatWeDoSection .row .col.l7 .content {
    margin-top: -100px; }
    #whatWeDoSection .row .col.l7 .content h1 {
      font-weight: 700;
      color: rgba(0, 0, 0, 0.9);
      text-transform: uppercase;
      display: inline-block;
      margin: 0 20px 0 0;
      word-spacing: 10px; }
      #whatWeDoSection .row .col.l7 .content h1:last-child {
        color: #e98457; }
