@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800');

// Most used variable
$headerHeight: 500px;
$mainFont: 'Poppins';
$green: #1bf1ad;
$greenOverlay: rgba(27,241,173,0.8);

// Section (main segment) padding variable
$sectionPadding:(
  top: 80px,
  bottom: 0px
);

// Font color sets for the web
$fontColor:(
  primary: rgba(0,0,0,0.9),
  secondary: rgb(48, 48, 48),
  tertiaty: rgb(102, 102, 102),
  orange: #e98457
);

// Breakpoints for responsiveness
$breakpoints: (
  'phone':  480px,
  'tablet': 768px,
  'landscapeTablet': 1024px
)!default;

// Mixin for transition effect
@mixin transition(){
  -webkit-transition: all .2s;
  -ms-transition: all .2s;
  transition: all .2s;
}

//Mixin for responsiveness
@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

// Mixin for set the home section/header padding
@mixin headerPadding($padding){
  padding-left: $padding;
  padding-right: $padding;
}

body{
  font-family: $mainFont;
}

// Main image background setting
.parallax{
  background: black;

  &.mobile{
    visibility: hidden;
    @include respond-to('tablet') {
      visibility: visible;
    }
  }

  &.desktop{
    visibility: visible;
    @include respond-to('tablet') {
      visibility: hidden;
    }
  }
}

// Sidebar setting for Unity logo
.sidenav-trigger{
  i{
    display: inline-block !important;
  }

  img{
    width: 120px;
    margin-bottom: 3.5px;
    margin-left: 20px;
  }
}

// The fixed menu
#mainMenuFixed{
  background: white;
  position: fixed;
  text-transform: uppercase;
  box-shadow: 3px 5px 25px -4px rgba(0,0,0,0.05);
  z-index: 999;

  a{
    color: map-get($fontColor, primary);
  }

  ul{
    text-align: center;

    li{
      display: inline;
      float: none;

      a{
        display: inline-block;
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 2.5px;
        opacity: 0.8;
        padding: 0px 10px 0px 10px;
        margin-left: 5px;
        margin-right: 5px;
        height:50px;
        border-bottom-style: solid;
        border-bottom-width: 2.5px;
        border-bottom-color: transparent;

        &.nonLink{
          cursor: default;
        }

        @include transition();

        &:hover{
          background: transparent;
          border-bottom-color: $green;
          opacity: 1;
          @include transition();

          &.nonLink{
            background: transparent;
            border-bottom-color: transparent;
          }
        }

        &.active{
          opacity: 1;
          font-weight: 600;
          border-bottom-color: $green;
        }
      }
    }
  }
}

// Home section
#homeSection{
  height: $headerHeight;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0),
  rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0.3));

  .container{
    position: relative;
    height: 100%;

    img{
      margin-top: 25px;
    }

    .valign-wrapper{
      position: absolute;
      top: 0;
      width: 100%;
      height: $headerHeight;
      padding-left: 200px;
      padding-right: 200px;

      @include respond-to('landscapeTablet'){
        @include headerPadding(100px);
      }

      @include respond-to('tablet'){
        @include headerPadding(75px);
      }

      @include respond-to('phone'){
        @include headerPadding(50px);
      }
    }
  }

  #headerMainTitle{
    width: 100%;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 7px;
    line-height: 40px;
    color: white;
    font-weight: 300;
    margin: 0;
  }
}

// Main menu (non-fixed)
#mainMenu{
  background: transparent;
  box-shadow: 0 0 0 0;
  position: absolute;
  bottom: 10px;
  text-transform: uppercase;

  ul{
    text-align: center;

    li{
      display: inline;
      float: none;

      a{
        display: inline-block;
        font-weight: 400;
        font-size: 12px;
        letter-spacing: 2.5px;
        opacity: 0.8;
        padding: 0px 10px 0px 10px;
        margin-left: 5px;
        margin-right: 5px;
        height:50px;
        border-bottom-style: solid;
        border-bottom-width: 2.5px;
        border-bottom-color: transparent;
        @include transition();

        &:hover{
          background: transparent;
          border-bottom-color: $green;
          opacity: 1;
          @include transition();
        }

        &.active{
          opacity: 1;
          font-weight: 500;
          border-bottom-color: $green;
        }
      }
    }
  }
}

main{
  // Global section setting
  section{
    padding-top: map-get($sectionPadding, top);
    padding-bottom: map-get($sectionPadding, bottom);

    .sectionTitle{
      text-transform: uppercase;
      color: map-get($fontColor, secondary);
      font-weight: 600;
      font-size: 15px;
      letter-spacing: 2.5px;

      @include respond-to('phone'){
        margin-top: 100px;
      }
    }

    // Global h1 (big text) setting
    h1{
      font-weight: 700;
      color: map-get($fontColor, primary);
      text-transform: uppercase;
      display: inline-block;
      margin: 0 20px 0 0;
      word-spacing: 10px;

      @include respond-to('tablet'){
        font-size: 47.5px;
      }

      @include respond-to('phone'){
        font-size: 43px;
      }
    }
  }
}

// About us section
#aboutUsSection{

  @include respond-to('phone'){
      padding-top: 15px;
  }

  .text.container{
    max-width:500px;

    p{
      color: map-get($fontColor, tertiaty);
      font-weight: 300;
      font-size: 20px;
      word-spacing: 3px;
      letter-spacing: 1px;
      margin-top: 30px;
    }
  }
}

// What we do section
#whatWeDoSection{
  .row{
    .col{
      position: relative;

      &.l5{
        img{
          position: relative;
          transform: translateX(-30px);
          width: 100%;
          z-index: 1;
        }

        h3{
          position: absolute;
          z-index: 2;
          bottom: 0px;
          right: 50px;
          width: 50%;
          font-weight: 600;
          color: map-get($fontColor, secondary);

          @include respond-to('landscapeTablet'){
            font-size: 40px;
          }

          @include respond-to('tablet'){
            font-size: 35px;
          }
        }
      }

      &.l7{
        @include respond-to('phone'){
            padding: 0 5% 0 5%;
        }

        #shape-1{
          position: relative;
          transform: translate(50%, -100px);
          width: 50%;
        }

        #shape-2{
          position: relative;
          width: 80%;
          transform: translate(5%, -100px);
          z-index: -1;
        }

        #shape-3{
          position: relative;
          transform: translateX(-300px);
        }

        .content{
          margin-top: -100px;

          h1:last-child{
            color: map-get($fontColor, orange);
          }
        }
      }
    }
  }
}

// Meet the team section
#meetTheTeamSection{

  @include respond-to('landscapeTablet'){
    padding: 0;
  }

  .sectionTitle{
    @include respond-to('phone'){
        margin-top: 25px;
    }
  }

  .content{
    position: relative;

    #shape-4{
      position: absolute;
      transform: translate(-100px, 100px);
      z-index: -1;

      @include respond-to('tablet'){
        transform: translate(500px, 200px);
      }

      @include respond-to('phone'){
        transform: translate(300px, 200px);
      }
    }

    #shape-5{
      position: absolute;
      right: 0;
      z-index: -1;

      @include respond-to('landscapeTablet'){
        right: -50px;
      }

      @include respond-to('phone'){
        right: 0;
      }
    }

    #shape-6{
      position: absolute;
      left: -50px;
      top: 200px;
      z-index: -1;

      @include respond-to('landscapeTablet'){
        top: 250px;
        left: -30px;
        width: 100px;
      }

      @include respond-to('tablet'){
        width: 150px;
        top: 200px;
      }

      @include respond-to('phone'){
        top: 250px;
      }
    }

    .row{
      margin-top: 50px;

      &.profile{
        margin-top: 0px;
        @include transition();

        h4{
          margin: 10px 0px 10px 0px;
        }

        .name{
          font-size: 15px;
          color: map-get($fontColor, secondary);

          @include respond-to('tablet'){
            font-size: 20px;
          }
        }

        .title{
          font-size: 13px;
          color: map-get($fontColor, tertiaty);

          @include respond-to('tablet'){
            font-size: 15px;
          }
        }

        .socmed{
          margin-top: 20px;

          a{
            text-decoration: none;
            color: map-get($fontColor, primary);
            margin-right: 10px;
          }
        }

        &:hover{
          background-color: $green;
          .name, .title, .socmed a{
            color: white;
          }
          @include transition();
        }

        .col{
          padding: 20px;

          @include respond-to('landscapeTablet'){
            padding: 5px;

            &:last-child{
              padding-right: 20px;
            }
          }

          @include respond-to('tablet'){
            padding: 10px;
          }

          img{
            width: 100%;
          }
        }
      }
    }
  }
}

// Our work section
#ourWorkSection{
  position: relative;

  @include respond-to('phone'){
      padding-top: 0;
  }

  .content{
    position: relative;

    #shape-3{
      position: absolute;
      top: -50px;
      right: 50px;
      z-index: -1;
    }

    #shape-7{
      position: absolute;
      bottom: 50px;
      left: 0px;
      z-index: -1;

      @include respond-to('landscapeTablet'){
        left: -70px;
      }
    }
  }

  .slider{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-top: 75px;

    &::-webkit-scrollbar {
      display: none;
    }

    .sliderItem{
      width: 375px;
      height: 350px;
      display: inline-block;
      margin: 10px;
      position: relative;

      @include respond-to('tablet'){
          width: 320px;
          height: 300px;
      }

      @include respond-to('phone'){
        width: 300px;
        height: 275px;
      }

      .sliderItemContent{
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 30px;
        width: 100%;
        overflow-x: hidden;

        h3{
          color: white;
          font-size: 20px;
          letter-spacing: 5px;
          font-weight: 600;
          text-transform: uppercase;
          visibility: hidden;
        }

        p{
          color: white;
          font-size: 10px;
          letter-spacing: 3px;
          font-weight: 400;
          text-transform: uppercase;
          visibility: hidden;
        }

      }

      &.sliderItem-1{
        background: url('../images/work-1.png');
        @include transition();

        &:hover{
          background: linear-gradient(to right, $greenOverlay,
                $greenOverlay), url('../images/work-1.png');
          .sliderItemContent{
            h3, p{
              visibility: visible;
            }
          }
          @include transition();
        }
      }
      &.sliderItem-2{
        background: url('../images/work-2.png');
        @include transition();

        &:hover{
          background: linear-gradient(to right, $greenOverlay,
                $greenOverlay), url('../images/work-2.png');
          .sliderItemContent{
            h3, p{
              visibility: visible;
            }
          }
          @include transition();
        }
      }
      &.sliderItem-3{
        background: url('../images/work-3.png');
        @include transition();

        &:hover{
          background: linear-gradient(to right, $greenOverlay,
                $greenOverlay), url('../images/work-3.png');
          .sliderItemContent{
            h3, p{
              visibility: visible;
            }
          }
          @include transition();
        }
      }
      &.sliderItem-4{
        background: url('../images/work-4.png');
        @include transition();

        &:hover{
          background: linear-gradient(to right, $greenOverlay,
                $greenOverlay), url('../images/work-4.png');
          .sliderItemContent{
            h3, p{
              visibility: visible;
            }
          }
          @include transition();
        }
      }
      &.sliderItem-5{
        background: url('../images/work-5.png');
        @include transition();

        &:hover{
          background: linear-gradient(to right, $greenOverlay,
                $greenOverlay), url('../images/work-5.png');
          .sliderItemContent{
            h3, p{
              visibility: visible;
            }
          }
          @include transition();
        }
      }

    }
  }

  .scrollButton{
    position: relative;
    transform: translateY(-100%);
    z-index: 10;

    @include respond-to('tablet'){
        display: none;
    }

    .btn{
      position: absolute;
      background: transparent;
      box-shadow: 0 0 0 0;
      top: -250px;

      &#scrollButtonRight{
        right: 0;
      }

      img{
        width: 75px;
      }

    }
  }
}

// Get in touch section/footer
#getInTouchSection{
  margin-top: 75px;
  border-top: solid 1px rgba(0,0,0,0.1);
  padding-top: 75px;

  @include respond-to('tablet'){
    margin-top: 0px;
  }

  .container{
    @include respond-to('landscapeTablet'){
      width: 85%;
    }
  }

  .col:last-child{
    @include respond-to('phone'){
        margin-top: 50px;
    }
  }

  h3{
    font-size: 20px;
    font-weight: 700;
    color: map-get($fontColor, primary);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 0;
    margin-bottom: 50px;

    span{
      color: $green;
    }
  }

  ul{
    li{
      display: inline-block;
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-right: 30px;
      font-weight: 700;

      a{
        text-decoration: none;
        color: map-get($fontColor, primary);
      }

      &:last-child{
        margin-right: 0;
      }
    }
  }

  .socmed{

    a{
      text-decoration: none;
      color: map-get($fontColor, primary);
      margin-right: 10px;
    }
  }

  .contact{
    margin-top: 20px;

    a{
      display: inline-block;
      text-decoration: none;
      color: map-get($fontColor, primary);
      line-height:24px;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 600;

      @include respond-to('phone'){
        margin-right: 20px;
      }
    }

    .material-icons{
      display: inline-flex;
      vertical-align: middle;
    }
  }

}
